#stic {
    background-image: url(image/homeimage...\ -\ Copy.avif );
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    height: 400px;
    width: 100vw;
    opacity: 7;
    background-size: cover;
        }
.nav-bar::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 50%;
	top: 0;
	left: 0;
	background: light;
        }
        
        .navbar-light .navbar-nav .nav-link {
	padding: 30px 15px;
	/* color: $dark; */
	font-weight: 500;
	outline: none;
        }
.brand{
          border-radius: 4px;
          margin: 20px;
          padding: 2px;
          /* border: 1px solid goldenrod; */
}
 .brand img-hover-zoom--basic img {
          transition: transform .5s ease;
}
.heading{
          text-shadow: 1px 1px  rgb(126, 122, 122);
}
/* footer */
.footer {
	color: #fff;
	background: url("image/footer.jpg") top center no-repeat;
	background-size: cover;
	font-size: 14px;
	padding: 80px 0 60px 0;
	position: relative;
        }
        .footer:before {
	content: "";
	background: rgba(8, 89, 108, 0.8);
	position: absolute;
	inset: 0;
        }
        /* .footer-content .footer-info {
	margin-bottom: 30px;
        } */
        
        .footer-content .footer-info h3 {
	font-size: 28px;
	margin: 0 0 20px 0;
	padding: 2px 0 2px 0;
	line-height: 1;
	font-weight: 700;
	text-transform: uppercase;
        }
        
        /* .footer-content .footer-info h3 span {
	color: var(--color-primary);
        }
         */
        /* .footer-content .footer-info p {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 0;
	font-family: var(--font-primary);
	color: #fff;
        } */
        
        .footer-content .social-links a {
	font-size: 18px;
	display: inline-block;
	background: rgba(255, 255, 255, 0.1);
	color: #fff;
	line-height: 1;
	margin-right: 8px;
	border-radius: 4px;
	width: 36px;
	height: 36px;
	transition: 0.3s;
        }
        .footer-content .social-links a:hover {
	background: var(--color-primary);
	text-decoration: none;
        }
        
        .footer-content h4 {
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	position: relative;
	padding-bottom: 12px;
        }
        .footer-content .footer-links {
	margin-bottom: 10px;
        }
        .footer-content .footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
        }
        
        .footer-content .footer-links ul li {
	padding: 8px 0;
        }
        .footer-content .footer-links ul li:first-child {
	padding-top: 0;
        }
        .footer-content .footer-links ul a {
	color: rgba(255, 255, 255, 0.6);
	transition: 0.3s;
	display: inline-block;
	line-height: 1;
        }  
         .footer-content .footer-links ul a:hover {
	color: #fff;
        }
        .copyright {
	padding-top: 30px;
	border-top: 1px solid rgba(255, 255, 255, 0.15);
        }
        
        /* .footer .footer-legal .credits {
	padding-top: 4px;
	font-size: 13px;
	color: #fff;
        }
        
        .footer .footer-legal .credits a {
	color: var(--color-primary);
        } */

        /* trending products */
        .card{
	transition-property: all;
	transition-duration: .5s;
	border-radius: 5px;
      }
      .card-contain:hover{
	transform: scale(1.1); 
	transition-duration: 1s;
      }
      
    
.flip-card {
	background-color: transparent;
	width: 300px;
	height: 370px;
	border: 1px solid #8d9bdc;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
        }
        
        /* This container is needed to position the front and back side */
        .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
        }
        
        /* Do an horizontal flip when you move the mouse over the flip box container */
        .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
        }
        
        /* Position the front and back side */
        .flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
        }
        
        /* Style the front side (fallback if image is missing) */
        .flip-card-front {
	background-color: #bbb;
	color: black;
        }
        
        /* Style the back side */
        .flip-card-back {
	background-color: rgb(224, 110, 241);
	color: white;
	transform: rotateY(180deg);
        }
        